
body {
    background: #000;
    font-family: Arial, sans-serif;
}


.form-box {
    background: #fff;
    width: 107%;
    max-width: 613px;
    margin: 40px auto;
    padding: 25px 72px 35px;
    border-radius: 4px;
}


.two-cols {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 34px;
    
}


.form-control, .form-select {
    border: 1px solid #4d4d4d !important;
    padding: 5px;
    font-size: 14px;
    width: 99.58%; 
}

.form-control:focus, .form-select:focus {
    border-color: #f7a800 !important;
    box-shadow: none;
}


.date-input::placeholder {
    text-align: center;
}


.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 50px;
}

.select-arrow {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    pointer-events: none;
}

.select-arrow::before {
    content: "";
    width: 1px;
    height: 22px;
    background: #c9c9c9;
    margin-right: 6px;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 151px;
    margin-top: 1.5rem;
}

.btn-siguiente {
    width: 120px;
    font-size: 14px;
    padding: 6px 0;
    background-color:#f7a800
}
.btn-volver {
    width: 120px;
    font-size: 14px;
    padding: 6px 0;
    border-color: #000;
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .form-box {
        max-width: 575px !important;
        padding: 37px 92px 75px 92px !important;
    }
    .two-cols {
        grid-template-columns: 1fr; 
        gap: 39px;
        width: 100%;
    }
    .two-cols > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .form-control, .form-select {
        width: 100% !important;
        margin: 0 auto;
    }
    label {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .form-box {
        max-width: 783px !important;
        padding: 37px 92px 75px 92px !important;
    }
    .two-cols {
        grid-template-columns: 1fr;
        gap: 39px;
        width: 100%;
    }
    .two-cols > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .form-control, .form-select {
        width: 100% !important;
        margin: 0 auto;
    }
    label {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
 
}
@media (max-width: 575.98px) {
    .form-box,
    .login-box,
    .social-box,
    .otros-wrapper,
    .container {
        width: 104% !important;
        
        padding-left: 35px !important;
        padding-right: 35px !important;
        margin: 0 auto !important;
    }

    .otros-grid {
        gap: 15px;
    }
}

@media (min-width: 1024px) {
    .form-box {
        padding: 40px 60px;
    }
    .two-cols {
        grid-template-columns: 1fr 1fr; 
        gap: 31px 157px;
        justify-items: stretch;
    }
    .form-control, .form-select {
        width: 100%;
    }
    .buttons-container {
        justify-content: flex-start;
    }
    .btn-siguiente {
        display: 13% !important;
    }
    .btn-volver {
        width: 13% !important;
    }
    .form-box {
    background: #fff;
    width: 100%;
    max-width: 982px;
    margin: 40px auto;
    padding: 25px 185px 35px 76px;
    border-radius: 4px;
}
}