

.r-logo-contacto {
    display: none;
}

.contenedor-contacto {
    background-color: white;
    padding: 30px;
    margin: auto;
    max-width: 800px;
    border-radius: 0px;
}

::placeholder {
    text-align: center;
}

.btn-custom-contacto {
    background-color: #f5a000;
    color: rgb(0, 0, 0);
    padding: 2px 15px;
    border-radius: 0px;
}

.btn-volver-contacto {
    display: none;
}

.btn-custom-contacto:hover {
    background-color: #f5a000;
    color: rgb(0, 0, 0);
}

.form-control-contacto {
    width: 17em;
    height: 30px;
}

.form-control-contacto:focus {
    border-color: #f5a000;
    box-shadow: 0 0 1px #f5a00050;
}

.copy {
    color: #636363;
}

.p-contacto {
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 992px) {
    .btn-volver-contacto {
        display: none;
    }

    .row {
        justify-content: center;
    }

    .form-control-contacto {
        width: 100%;
        margin: 0 auto;
    }

    .form-label-contacto {
        text-align: center;
        width: 100%;
    }

    .r-logo-contacto {
        display: none;
    }

    .contenedor-contacto {
        background-color: white;
        padding: 30px;
        border-radius: 0px;
        max-width: 800px;
        width: 90%;
        margin: 3em auto;
    }


    .copy {
        color: #636363;
    }

    .p-contacto {
        color: #ffffff;
        font-size: 0.8rem;
        text-align: center;
    }

    
}

/* Moviles */
@media (min-width: 576px) and (max-width: 768px) {

    .copy {
        color: #636363;
        display: block;
    }

    .p-contacto {
        color: #ffffff;
        font-size: 1rem;
        text-align: center;
    }

    .break-mobile {
        display: none;
    }

    .row {
        justify-content: center;
    }

    .form-control-contacto {
        width: 100%;
        margin: 0 auto;
    }

    .form-label-contacto {
        text-align: center;
        width: 100%;
    }

    .btn-volver-contacto {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 2px 15px;
        border-radius: 0px;
        border-color: #000;
        display: flex;
    }

    .text-end {
        display: flex;
        gap: 70%;
    }

    .r-logo-contacto {
        width: 100px;
        margin-top: 70px;
        display: flex;
    }

}