  body {
      background-color: #000;
      background-image: url('https://s.rsg.sc/auth/images/bg-repeat.png');
      background-size: contain;
      background-repeat: repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      color: #333;
      font-family: 'Inter';
    }

    .policy-container {
      background-color: #fff;
      max-width: 750px;
      width: 90%;
      padding: 2.5rem;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      text-align: left;
      position: relative;
      z-index: 2;
    }

    .policy-logo {
      position: relative;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      z-index: 3;
    }

    .policy-logo img {
      width: 75px;
      height: auto;
      display: block;
    }

    .policy-title {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: underline;
      color: #333;
    }

    a:hover {
      color: #000;
    }

    .form-check-input{
      border-radius: 0 !important;
      border: 2px solid #333 !important;
      cursor: pointer;
    }

    .btn-back {
      background-color: #f8f9fa;
      border: 1px solid #000000;
      border-radius: 0 !important;
      color: #000;
      width: 150px;
    }

    .btn-next {
      background-color: #f6b510;
      border: none;
      border-radius: 0 !important;
      color: #000;
      font-weight: 600;
      width: 150px;
    }

    .btn-next:hover {
      background-color: #ffd015;
    }

    /* Responsive ajustes */
    @media (max-width: 768px) {
      .policy-container {
        padding: 1.5rem;
      }
      .policy-logo img {
        width: 60px;
      }
    }

    @media (max-width: 480px) {
      .policy-container {
        width: 95%;
        padding: 1rem;
      }
      .policy-logo img {
        width: 55px;
      }
    }

    footer {
      text-align: center;
      font-size: 8px;
      color: #dedcdc;
      margin-top: 6rem;
      z-index: 1;
    }

    footer a {
      color: #dad6d6;
      text-decoration: underline;
      margin: 0 5px;
    }

    footer a:hover {
      color: #fff;
    }