body {
    background-color: #000;
    background-image: url('/img/Molecula_Fondo_Pc.jpg');
    background-repeat: repeat;
    color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-box {
    background-color: #fff;
    width: 600px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.r-logo {
    width: 60px;
    margin-bottom: 25px;
}

.error-msg {
    background-color: #a00500;
    color: white;
    font-size: 0.9rem;
    padding: 2px;
    border-radius: 0px;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

select {
    height: 48px;
    text-align: center;
}

.btn,
.btn-outline-dark,
.btn-warning {
  border-radius: 0 !important;
  width: 20%;
  height: 30px;
  font-size: 0.8rem;
}

.btn{
    font-weight: bold;
}

.Iniciar{
    color: #fff;
    margin-top: 15px
}

.copy{
    color: #636363;
}

.p{
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
}

.login-link {
  color: #fcb900;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid #fcb900; 
}

@media (min-width: 768px) and (max-width: 992px){
    body {
        justify-content: center;
        display: flex;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    body{
        display: flex;
        justify-content: center;
    }
    .container-box{
        width: 100%;
    } 
    .contenedor2{
        width: 95%;
    }
}