body { background: #000; padding: 0; }

    .payment-card {
        width: 770px;
        background: #fff;
        border-radius: 0px;
        padding: 35px 69px 82px 69px;
        box-shadow: 0 0 30px rgba(0,0,0,0.4);
    }

    
    .form-floating > label {
        transform: scale(.85) translateY(-.8rem) translateX(.15rem);
        opacity: .7;
    }

    .form-floating > .form-control,
    .form-floating > .form-select {
        padding-top: 1.8rem;
    }

    .bank-logos img { 
        height: 32px;
        margin-right: 93px; 
        }

   
    .btn-rockstar {
        background-color: #f5b400;
        border: none;
        font-weight: bold;
        color: #000;
        transition: background 0.3s;
    }
    .btn-rockstar:hover {
        background-color: #e0a800;
    }

    .btn-back {
        background-color: #ffffff;
        
        font-weight: bold;
        color: #000;
        transition: background 0.3s;
        border-color:black;
    }
    .btn-back:hover {
        background-color: #b3b3b3;
    }

   
    .form-control:focus,
    .form-select:focus {
        border-color: #f5b400;
        box-shadow: 0 0 0 0.25rem rgba(245, 180, 0, 0.4);
    }

    
    @media (max-width:575.98px) {
        .payment-card { width:100%!important; border-radius:0; padding:25px; box-shadow:none; }

        .account-row { display:flex; gap:10px; flex-wrap:nowrap; }
        .account-row .col-8 { flex:0 0 60%; }
        .account-row .col-4 { flex:0 0 40%; }

        .branch-row { order:0; }
    }

   
    @media (min-width:576px) and (max-width:991.98px) {
        .account-container { display:flex; flex-direction:column; }
        .branch-row { order:-1; }

        .row-fecha-cvc {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        .payment-card {
            width: 593px;
            background: #fff;
            border-radius: 0px;
            padding: 23px;
            box-shadow: 0 0 30px rgba(0,0,0,0.4);
        }
    }

    
    .gap-2 {
        gap: 1rem !important;
    }

    

    
    .btn-back {
        display: none !important;
    }

    
    @media (min-width:576px) and (max-width:991.98px) {
        .btn-back {
            display: block !important;
        }
    }

    
    @media (min-width:576px) and (max-width:991.98px) {

        
        .payment-card .d-flex.gap-2 {
            justify-content: center !important;
        }

        
        .btn-rockstar {
            width: auto !important;
            padding: 6px 36px !important;
            font-size: 14px !important;
            margin: 0 auto !important;
            display: block !important;
        }

        
        .btn-back {
            width: auto !important;
            padding: 6px 36px !important;
            font-size: 14px !important;
            margin-right: auto !important;
        }
    }
    .gap-2{
        gap:22rem!important;
    }

    
    @media (max-width:575.98px), (min-width:992px) {

        .payment-card .d-flex.gap-2 {
            justify-content: center !important;
        }

        .btn-rockstar {
            width: auto !important;
            padding: 10px 28px !important;
            font-size: 16px !important;
        }
    }
